{% extends 'home.html' %}

{% block content %}
<h2 style="color:white; text-align:center; margin-top:30px;">Добавить книгу</h2>

<form method="post" enctype="multipart/form-data"
      style="max-width:500px; margin:20px auto; display:flex; flex-direction:column; gap:12px;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" 
            style="padding:8px 16px; background:#2a72ff; color:white; border:none; border-radius:8px;">
        Добавить
    </button>
</form>

<div style="text-align:center; margin-top:20px;">
  <a href="{% url 'home_page' %}" style="color:#8fbfff;">← Назад в каталог</a>
</div>
{% endblock %}
